/* Background Animation */
@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}

@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}

@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}

@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}

@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}

@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}

@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}

@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}

/* Title Background */
.index-background {
  background:
    linear-gradient(90deg, rgba(0, 0, 0, 0.09) 5%, transparent 5%),
    linear-gradient(rgba(0, 0, 0, 0.09) 5%, transparent 5%);
  background-size: 50px 50px;
  animation: bg-scrolling-reverse 2s infinite linear;
  backdrop-filter: blur(25px);
  z-index: 1;
}
